
/* Navbar */
.navegation-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 2fr;
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.nav-banner-image {
    display: flex;
    padding: 20px;
}
.nav-banner-image img {

    width: 100px;
   
    font-weight: 700;
    font-size: 1.45em
}
.nav-center-column {
    text-align: left;
    padding: 10px;
}
.nav-center-links-wrapper > .explore a{
    color: #cea135;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 11px;
} 
.nav-center-links-wrapper > .nav-link a {
    color: white;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    padding-right: 10px;
  
}

.fa-chevron-down::before {
    padding: 9px;
    color:darkgrey;
    font-size: 10px;
}   

.nav-right-column > .nav-right-btn-wrapper {
   
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.button-button> span > i.fa-chevron-down::before{
    color: rgb(12, 214, 12);
    font-size: 15px;
}

.nav-right-btn-wrapper > .button-button {
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 1px;
    cursor: pointer;
    background-color: #525558;
    font-weight: bold;
}

.nav-right-btn-wrapper a {
    padding: 1px 10px;
    color: #525558;
    font-size: 25px
}
.button-button fa{
    color: green;
}
.page-container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: start;
    justify-content: space-between;
    background: linear-gradient(to right, #39393b, #181818);   
  
}
.img-page-container p {
    margin:0px;
    font-size: 18px;
}
.img-page-container{
    margin-top: 30px;
}


.img-page-container img{
    width: 500px;
}
.content-wrapper p, h1 {
    text-align: start;
    margin: 30px;
    
}

.content-wrapper p{
    color: rgb(235, 235, 244);
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}

.content-wrapper h1{
    color: #b8bbbf;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 29px;
}



.content-wrapper > .btn1 {
    background:#6bc06d;
	color:rgb(12, 1, 1);
	font-size:1.25em;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
    border:0;
    margin-left: 30px;
    font-weight: bold;
}

.content-wrapper > .btn2 {
    background:#080808;
	color:white;
	font-size:1.25em;
	padding:10px 0;
	text-align:center;
	width: 150px;
    border:0;
    font-weight: bold;
}

.links-wrapper-footer {

    background-color: rgb(33, 32, 32);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 20px;
    padding: 0px 0px 60px;
}

.links-wrapper-footer > .btn-wapper-footer{

    border: 1px;
    border-color: rgb(159, 154, 154);
    border-style:solid;
    background-color: #3c3c3e;
    height: 40px;
    color: white;
    font-size: 14px;
    
}

.btn-wapper-footer span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    
}