@media (max-width: 615px) {
    .navegation-wrapper {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    .navegation-wrapper > .nav-left-columnw3 {
        order: 1;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navegation-wrapper > .nav-center-column {
        order: 2;
        width: 100%;
    }

    .navegation-wrapper > .nav-right-column {
        order: 3;
        margin-top: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;   
    }

    .nav-center-links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        width: 100%;
    }

   .page-container {
        width: 100%;
        grid-template-columns: 1fr;
        height: 100%;
    }

   .page-container > .content-wrapper {
    order: 2;
    font-size: 12px;
    padding: 8px 12px;
    } 

   .page-container > .img-page-container  {
    order: 1;
    }

   .links-wrapper-footer > .btn-wapper-footer {
    flex-direction: column;
    font-size: 10px;
    }

    .links-wrapper-footer > .btn-wapper-footer span {
    flex-direction: column;
    font-size: 12px;
    }

} 